<%= form_for @post,  html: { class: 'form-horizontal', multipart: true } do |f| %>


    <div class="form-group">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>

    <div class="form-group text-center">
      <%= f.label :content %><br>
      <%= f.text_field :content %>
    </div>


    <div class="form-group text-center">
      <%= f.submit  class:"btn-success"%>
    </div>
<% end %>
